section{
    background-color: #ffd1c4cf;

}
.news-header{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image:url(download.png);
    background-repeat: no-repeat;
    background-position:center;
    padding: 40px;
    height: 100px;
}
.main-div{
     padding: 7px;
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 0px;
}
.news-div{
    width: 30%;
    flex: 1 1 160px;
    text-align: center;
    padding: 10px;
    margin:0px;
    color: pink;
}
.image-div{
    width: 100%;
}
img{
      width: 100%;  
}
img:hover {
    transition: 1s;
    transform: scale(1.1);
    z-index: 1;  
}
.news-para{
        font-size: 15px;
        margin: 0px;
        text-align: left;
        margin-bottom: 50px;
       font-family: 'Indie Flower', cursive;
       color: black;
       
}
.news-title{
    font-size: 22px;
     text-align: left;
     color: #40171cab;
     font-family: 'Fjalla One', sans-serif;

}
a{
    text-decoration: none;
}
