 body html {
    background-color: pink;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
p{
    padding: 35px 0;
	color:#3f3f41;
	display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap !important;
    align-content: flex-start;
    background-color: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 3em;
    margin: 0px;
}
.carousel-item{
    
}
.firstSlider,.secondSlider,.thirdSlider {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 50vh;
}    

.firstSlider{
        background-image: url(slider1.jpg);
}
.secondSlider{
    background-image: url(slider2.jpg)
}
.thirdSlider{
    background-image: url(slider3.jpg)
}
.newsDiv{
    height: 100px;
    width: 100px;
    border-radius: 1000px;;
    background-color: pink;
}
.newsContainer{
    display: flex;
    flex: 1 1 160px;
    max-width: 280px;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
}
p{
    font-size: 1em;
    margin-top: 0px;
    padding: 0px;
}
.info{
    text-align: center;
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
h5{
    margin-top: 16px;
}

@media (min-width: 500px){
.container {
    max-width: 100%;
    padding: 0px;
}
}